<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repo -->
    <preference for="Praxigento\Pv\Repo\Entity\IProduct"
                type="Praxigento\Pv\Repo\Entity\Def\Product"/>
    <preference for="Praxigento\Pv\Repo\Entity\ISale"
                type="Praxigento\Pv\Repo\Entity\Def\Sale"/>
    <preference for="Praxigento\Pv\Repo\Entity\Sale\IItem"
                type="Praxigento\Pv\Repo\Entity\Sale\Def\Item"/>
    <preference for="Praxigento\Pv\Repo\Entity\Stock\IItem"
                type="Praxigento\Pv\Repo\Entity\Stock\Def\Item"/>
    <preference for="Praxigento\Pv\Repo\IModule"
                type="Praxigento\Pv\Repo\Def\Module"/>
    <!-- Services -->
    <preference for="Praxigento\Pv\Service\ISale"
                type="Praxigento\Pv\Service\Sale\Call"/>
    <preference for="Praxigento\Pv\Service\ITransfer"
                type="Praxigento\Pv\Service\Transfer\Call"/>

</config>
