<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Praxigento_Core::mobi">
                    <resource id="Praxigento_Core::admin">
                        <resource id="Praxigento_Pv::admin" title="PV Module" sortOrder="200">
                            <resource id="Praxigento_Pv::transfers_upload"
                                    title="Transfers Upload" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
