<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Praxigento_Pv" setup_version="0.1.0">
        <sequence>
            <module name="Praxigento_Downline"/>
            <module name="Praxigento_Warehouse"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>